<div class="paso-container" id="paso-1-container">
    <h2>Paso 1</h2>

    <p>
        Completa la siguiente información para empezar a realizar el mapeo de las bases de datos.
    </p>

    <form id="data-conection-form">
        <div class="contenedor-input">
            <label for="db-name">BASE DE DATOS:</label>

            <input type="text" id="db-name" class="mi-input" placeholder="Ej: mi_base_de_datos">
        </div>

        <div class="contenedor-input">
            <label for="db_user">Usuario:</label>

            <input type="text" id="db-user" placeholder="Ej: root">
        </div>

        <div class="contenedor-input">
            <label for="db_password">Contraseña:</label>

            <input type="text" name="db-password" id="db-password" placeholder="Se puede dejar vacío">
        </div>

        <div class="contenedor-input">
            <button id="btn-iniciar-mapeo">Iniciar Mapeo</button>
        </div>
    </form>
</div>