<div class="paso-container" id="paso-2-container">
    <h1>Paso 2</h1>

    <p>Estas son las sentencias SQL que se crearán para tu Base de Datos:</p>

    <div class="sentences-display">
        <div class="sentence-container">
            <h3>SELECT * FROM table_name</h3>
        </div>

        <div class="sentence-container">
            <h3>SELECT columna_1 FROM table_name</h3>
        </div>

        <div class="sentence-container">
            <h3>SELECT columna_2 FROM table_name</h3>
        </div>

        <div class="sentence-container">
            <h3>SELECT columna_3 FROM table_name</h3>
        </div>

        <div class="sentence-container">
            <h3>SELECT columna_n FROM table_name</h3>
        </div>

        <div class="sentence-container">
            <h3>INSERT columna_n FROM table_name</h3>
        </div>

        <div class="sentence-container">
            <h3>UPDATE columna_n FROM table_name</h3>
        </div>

        <div class="sentence-container">
            <h3>DELETE columna_n FROM table_name</h3>
        </div>
    </div>
</div>